[user]
	email = hunterboerner@gmail.com
	name = Theron Boerner
[push]
	default = simple
[core]
	excludesfile = ~/.global_gitignore
[status-tree]
	indent = 4
[alias]
	tree = !sh -c \"/Users/theronb/code/tmp/git-status-tree/bin/git-status-tree\"
	appraise = !/Users/theron/code/gopath//bin/git-appraise
[hub]
	protocol = ssh
[color]
	ui = auto
	branch = auto
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[github]
	user = hunterboerner
