[user]
	email = hunterboerner@gmail.com
	name = Theron Boerner
[push]
	default = simple
[hub]
[hub]
	protocol = ssh
[core]
[core]
	excludesfile = ~/.global_gitignore
[status-tree]
	indent = 4
[alias]
	tree = !sh -c \"/Users/theronb/code/tmp/git-status-tree/bin/git-status-tree\"
