[user]
	email = hunterboerner@gmail.com
	name = Theron Boerner
	# signingkey = F6CF051630842B81
[push]
	default = simple
[core]
	excludesfile = ~/.global_gitignore
[status-tree]
	indent = 4
[alias]
	tree = !sh -c \"/Users/theronb/code/tmp/git-status-tree/bin/git-status-tree\"
	appraise = !/Users/theron/code/gopath//bin/git-appraise
[hub]
	protocol = ssh
[color]
	ui = auto
	branch = auto
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[github]
	user = hunterboerner
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[pull]
	rebase = true
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
# [commit]
	# gpgsign = true
