emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/projectile-bookmarks.eld
zsh/.zshrc-local
emacs/.emacs.d/%backup%*

emacs/.emacs.d/auto-save-list
emacs/.emacs.d/var
emacs/.emacs.d/url
emacs/.emacs.d/ede-projects.el
emacs/.emacs.d/custom.el
emacs/.emacs.d/*.elc
emacs/.emacs.d/*.el~
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/.graphene*
emacs/.emacs.d/%*
emacs/.emacs.d/tramp
emacs/.emacs.d/.emacs*
emacs/.emacs.d/project-persist
emacs/.emacs.d/tramp
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/session.*
emacs/.emacs.d/elpa
emacs/.emacs.d/.mc*
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/abbrev_defs
emacs/.emacs.d/flycheck-*
emacs/.emacs.d/persp-confs/
emacs/.emacs.d/eshell
emacs/.emacs.d/org/*
emacs/.emacs.d/!/org/.gitkeep
emacs/.emacs.d/bookmarks
emacs/.emacs.d/.cask
emacs/.emacs.d/project-explorer-cache
**/.emacs.desktop
**/.emacs.desktop.lock
emacs/.emacs.d/smex-items
emacs/.emacs.d/tramp
**/session.*
emacs/flycheck_.emacs
emacs/.emacs.d/recentf
